# **Activity 2.01 – Working with pandas data structures**

1. Import the pandas library.
2. Read the US_GDP.csv file from the Datasets directory into a DataFrame named
GDP_data. The data is stored as dates and values, and you wish to use the dates as the
index, so that in future work you may apply pandas time series methods to this data.
3. Display the head of GDP_data so that you can see the formats of the data in the
file.
4. Inspect the object types of GDP_data, in particular the date column.
5. Use the pd.to_datetime() method to convert the date column into a
timestamp.
6. Use the .set_index() method to replace the index with the date column. Be
sure to use inplace = True so the result is applied to the existing DataFrame,
and drop = True to remove the date column after it is used for the index. Use
.head() to confirm the result.
7. Use the .to_csv() method to save the file to a new .csv file named US_GDP_
date_index.csv.

1. Import the pandas library

In [1]:
import pandas as pd

In [2]:
!wget https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter02/Datasets/US_GDP.csv

--2023-06-11 19:41:43--  https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter02/Datasets/US_GDP.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 237 [text/plain]
Saving to: ‘US_GDP.csv’

US_GDP.csv          100%[===================>]     237  --.-KB/s    in 0s

2023-06-11 19:41:44 (14.4 MB/s) - ‘US_GDP.csv’ saved [237/237]

2. Read the US_GDP.csv file from the Datasets directory into a DataFrame named GDP_data. The data is stored as dates and values, and you wish to use the dates as the index, so that in future work you may apply pandas time series methods to this data.

In [3]:
csv = 'US_GDP.csv'
file = pd.read_csv(csv)

GDP_data = pd.DataFrame(file)

type(GDP_data)

pandas.core.frame.DataFrame

3. Display the head of GDP_data so that you can see the formats of the data in the file.

In [4]:
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

4. Inspect the object types of GDP_data, in particular the date column.

In [5]:
GDP_data.dtypes

date     object
GDP     float64
dtype: object

5. Use the pd.to_datetime() method to convert the date column into a timestamp.

In [6]:
GDP_data['date'] = pd.to_datetime(GDP_data['date'])
GDP_data.dtypes

date    datetime64[ns]
GDP            float64
dtype: object

In [7]:
GDP_data.head()

        date      GDP
0 2017-03-31  19190.4
1 2017-06-30  19356.6
2 2017-09-30  19611.7
3 2017-12-31  19918.9
4 2018-03-31  20163.2

6. Use the .set_index() method to replace the index with the date column. Be sure to use inplace = True so the result is applied to the existing DataFrame, and drop = True to remove the date column after it is used for the index. Use .head() to confirm the result.

In [8]:
GDP_data.set_index('date', inplace=True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

7. Use the .to_csv() method to save the file to a new .csv file named US_GDP_ date_index.csv.

In [9]:
GDP_data.to_csv('US_GDP_date_index.csv')